In [105]:
import pandas as pd
import os

root = '../../data_json/'
folder1 = 'split10'
folder2 = 'split20'
path1 = os.path.join(root, folder1)
path2 = os.path.join(root, folder2)

In [106]:
from dataload import read_file_under_paths, load_data

file_names1 = read_file_under_paths(path1, ".json")
data1 = pd.concat(load_data(file_names1, path1))

file_names2 = read_file_under_paths(path2, ".json")
data2 = pd.concat(load_data(file_names2, path2))

df = data1.append(data2).drop_duplicates(subset=['clauses']).reset_index(drop=True)
df

/var/folders/sb/nbhxgzzj2ds2h3yjxjyn8f2w0000gn/T/ipykernel_62266/1814677601.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = data1.append(data2).drop_duplicates(subset=['clauses']).reset_index(drop=True)

,doc_id,doc_len,pairs,clauses
0,1,9,"[[7, 9]]","[{'clause_id': '1', 'emotion_category': 'null'..."
1,2,9,"[[9, 8]]","[{'clause_id': '1', 'emotion_category': 'null'..."
2,3,15,"[[12, 12]]","[{'clause_id': '1', 'emotion_category': 'null'..."
3,4,12,"[[12, 9], [12, 10], [12, 11]]","[{'clause_id': '1', 'emotion_category': 'null'..."
4,5,7,"[[7, 6]]","[{'clause_id': '1', 'emotion_category': 'null'..."
...,...,...,...,...
1940,2101,13,"[[6, 6]]","[{'clause_id': '1', 'emotion_category': 'null'..."
1941,2102,15,"[[10, 9]]","[{'clause_id': '1', 'emotion_category': 'null'..."
1942,2103,11,"[[11, 9]]","[{'clause_id': '1', 'emotion_category': 'null'..."
1943,2104,11,"[[8, 5], [8, 6], [8, 7]]","[{'clause_id': '1', 'emotion_category': 'null'..."
1944,2105,10,"[[6, 5]]","[{'clause_id': '1', 'emotion_category': 'null'..."

In [107]:
l = df['pairs'].apply(len)
l.max()

4

In [108]:
train1 = df.loc[df['pairs'].apply(len) == 1].sample(5)
train2 = df.loc[df['pairs'].apply(len) == 2].sample(3)
train3 = df.loc[df['pairs'].apply(len) == 3].sample(2)

train = pd.concat([train1, train2, train3])
train.to_json('train.json')

In [109]:
df = df.drop(train.index)
example = df.sample(100)
example.to_json('example.json')